* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

.dynamic-header-background {
  background: rgba(250, 235, 221, 0.9) url(./img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-color {
  background-color: rgba(237, 243, 236, 0.8);
}

.card-bg-color {
  background-color: rgba(241, 241, 239, 0.9);
}
